html
	head
		link(rel="stylesheet" href="index.css")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
	body

		ul
			each team, i in standings
				li(class="standing")
					div(class="title")
						span(class="position")=(i+1)
						span=team.name
					div(class="points")
						span=team.points
							|  points
						span(title="View Results" class="results-open" onclick="toggleResults(event)") +
						



					ul(class="results")
						each result in team.results
							li
								span(class="name")=result.race
									|  - 
								span=result.points
									|  points
								table
									tr
										th Pos
										th Driver
										th Points
									each r in result.result
										tr
											td=r.position
											td=r.driver.name
											td=r.points
		script(src="index.js")
